In [3]:
import matplotlib.pyplot as plt
import pandas as pd
%pip install requests

Requirement already satisfied: requests in c:\users\nay_a\appdata\local\programs\python\python312\lib\site-packages (2.31.0)
Requirement already satisfied: charset-normalizer<4,>=2 in c:\users\nay_a\appdata\local\programs\python\python312\lib\site-packages (from requests) (3.3.2)
Requirement already satisfied: idna<4,>=2.5 in c:\users\nay_a\appdata\local\programs\python\python312\lib\site-packages (from requests) (3.6)
Requirement already satisfied: urllib3<3,>=1.21.1 in c:\users\nay_a\appdata\local\programs\python\python312\lib\site-packages (from requests) (2.1.0)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\nay_a\appdata\local\programs\python\python312\lib\site-packages (from requests) (2023.11.17)
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 23.2.1 -> 23.3.2
[notice] To update, run: python.exe -m pip install --upgrade pip

In [4]:
# Especifique o caminho do arquivo CSV disponível no computador
arquivoCustoCapitalPA = 'C:\\Users\\NAY_A\\OneDrive\\Documentos\\Cursos\\Aula Python\\Python\\aula1\\Projeto-ManutencaodeEstoque\\Base Banco - CSV\\baseCustodeCapitalPA.csv'

try:
    # lendo o arquivo CSV usando o pandas
    df = pd.read_csv(arquivoCustoCapitalPA)

    print("Primeiras linhas da base de Custo De Capital PA: ")
    print(df.head())
except FileNotFoundError:
    print(f"Arquivo CSV não encontrado no caminho especificado.")
except pd.errors.EmptyDataError:
    print("O arquivo CSV está vazio.")
except pd.errors.ParserError as error:
    print(f"Erro ao analisar o arquivo CSV: {error}")

Primeiras linhas da base de Custo De Capital PA:
   Id               Produto Codigo  Quantidade Localizacao    Situacao  \
0   1                  E190  AE190           1   Armazém D    Obsoleto
1   2  EMB 314 Super Tucano  AE314           1   Armazém C  Disponível
2   3           Preator 600  AE600           1   Armazém B    Obsoleto
3   4  EMB 314 Super Tucano  AE314           1   Armazém C  Disponível
4   5                  E195  AE195           1   Armazém B    Obsoleto

         Data     Valor
0  25/05/2022  55300000
1  10/07/2023  28500000
2  09/07/2023  49900000
3  01/02/2023  28500000
4  10/07/2023  58500000

In [5]:
# estatistica e big numbers
df.describe() #estatistica pronta sobre o arquivo

               Id  Quantidade         Valor
count  200.000000  200.000000  2.000000e+02
mean   100.500000    7.385000  4.455900e+07
std     57.879185   10.390698  9.251786e+06
min      1.000000    1.000000  2.850000e+07
25%     50.750000    1.000000  3.785000e+07
50%    100.500000    1.000000  4.630000e+07
75%    150.250000   10.000000  4.990000e+07
max    200.000000   30.000000  5.850000e+07

In [6]:
df.shape #imprime a quantidade de linhas e colunas

(200, 8)

In [7]:
df.dtypes #imprime os nomes de colunas e tipo de dados

Id              int64
Produto        object
Codigo         object
Quantidade      int64
Localizacao    object
Situacao       object
Data           object
Valor           int64
dtype: object

In [8]:
df.Situacao.unique() #filtrar por Situações unicas

array(['Obsoleto', 'Disponível', 'Avariado', 'Em Produção'], dtype=object)

In [9]:
df.Produto.unique() #filtrar por produtos unicos

array(['E190', 'EMB 314 Super Tucano', 'Preator 600', 'E195', 'KC390',
       'Legacy 600', 'Phenom 100', 'ERJ 145XR', 'EMB 145 AEW&C'],
      dtype=object)

In [10]:
df.Valor.min() #menor valor da coluna

28500000

In [11]:
df.Valor.max() # pega o maior valor da coluna

58500000

In [12]:
df.Valor.mean() # pega a media valor da coluna

44559000.0

In [13]:
df.Valor.mode() # pega o valor mais comum da coluna

0    38500000
1    46300000
Name: Valor, dtype: int64

In [14]:
df.sort_values('Codigo', ascending=False) #exibe os códigos de maneira decrescente

,Id,Produto,Codigo,Quantidade,Localizacao,Situacao,Data,Valor
177,178,Preator 600,AE600,1,Armazém C,Avariado,03/03/2022,49900000
104,105,Preator 600,AE600,30,Armazém D,Disponível,14/09/2022,49900000
124,125,Legacy 600,AE600,1,Armazém D,Avariado,22/04/2022,47700000
59,60,Legacy 600,AE600,1,Armazém A,Em Produção,08/06/2022,47700000
27,28,Legacy 600,AE600,2,Armazém D,Disponível,29/03/2023,47700000
...,...,...,...,...,...,...,...,...
43,44,Phenom 100,AE100,1,Armazém C,Avariado,10/07/2023,37850000
152,153,Phenom 100,AE100,2,Armazém A,Disponível,23/08/2022,37850000
154,155,Phenom 100,AE100,1,Armazém A,Avariado,16/12/2023,37850000
166,167,Phenom 100,AE100,1,Armazém D,Avariado,08/06/2022,37850000
116,117,Phenom 100,AE100,20,Armazém D,Em Produção,29/03/2023,37850000

In [15]:
df.sort_values(['Codigo','Quantidade'], ascending=False) #exibe os valores e quantidades de maneira decrescente

,Id,Produto,Codigo,Quantidade,Localizacao,Situacao,Data,Valor
72,73,Legacy 600,AE600,30,Armazém B,Disponível,22/04/2022,47700000
98,99,Legacy 600,AE600,30,Armazém D,Disponível,21/03/2023,47700000
104,105,Preator 600,AE600,30,Armazém D,Disponível,14/09/2022,49900000
180,181,Legacy 600,AE600,30,Armazém D,Em Produção,29/03/2023,47700000
193,194,Preator 600,AE600,30,Armazém A,Em Produção,14/09/2022,49900000
...,...,...,...,...,...,...,...,...
135,136,Phenom 100,AE100,1,Armazém B,Disponível,21/03/2023,37850000
148,149,Phenom 100,AE100,1,Armazém C,Em Produção,15/08/2022,37850000
151,152,Phenom 100,AE100,1,Armazém C,Obsoleto,09/07/2023,37850000
154,155,Phenom 100,AE100,1,Armazém A,Avariado,16/12/2023,37850000
166,167,Phenom 100,AE100,1,Armazém D,Avariado,08/06/2022,37850000

In [16]:
filtroCusto = df[df.Produto == 'Preator 600'] #Filtro trazendo o resultado apenas com o custo igual a Limpeza
filtroLocalizacao = filtroCusto[filtroCusto.Localizacao == 'Armazém A'] #Dentro do custo igual a limpeza, um novo filtro com o resultado da localização igual a Armazém A.
filtroLocalizacao #exibindo o resultado dos filtros combinados na tela

,Id,Produto,Codigo,Quantidade,Localizacao,Situacao,Data,Valor
6,7,Preator 600,AE600,1,Armazém A,Avariado,09/07/2023,49900000
37,38,Preator 600,AE600,1,Armazém A,Obsoleto,08/06/2022,49900000
193,194,Preator 600,AE600,30,Armazém A,Em Produção,14/09/2022,49900000

In [17]:
colunasFiltradas = ['Produto','Situacao','Localizacao']
df[colunasFiltradas]

                  Produto     Situacao Localizacao
0                    E190     Obsoleto   Armazém D
1    EMB 314 Super Tucano   Disponível   Armazém C
2             Preator 600     Obsoleto   Armazém B
3    EMB 314 Super Tucano   Disponível   Armazém C
4                    E195     Obsoleto   Armazém B
..                    ...          ...         ...
195            Legacy 600     Obsoleto   Armazém B
196                  E190     Avariado   Armazém D
197                  E195   Disponível   Armazém D
198           Preator 600     Avariado   Armazém B
199                  E190  Em Produção   Armazém D

[200 rows x 3 columns]