In [23]:
import matplotlib.pyplot as plt
import pandas as pd
%pip install requests

Requirement already satisfied: requests in c:\users\nay_a\appdata\local\programs\python\python312\lib\site-packages (2.31.0)
Requirement already satisfied: charset-normalizer<4,>=2 in c:\users\nay_a\appdata\local\programs\python\python312\lib\site-packages (from requests) (3.3.2)
Requirement already satisfied: idna<4,>=2.5 in c:\users\nay_a\appdata\local\programs\python\python312\lib\site-packages (from requests) (3.6)
Requirement already satisfied: urllib3<3,>=1.21.1 in c:\users\nay_a\appdata\local\programs\python\python312\lib\site-packages (from requests) (2.1.0)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\nay_a\appdata\local\programs\python\python312\lib\site-packages (from requests) (2023.11.17)
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 23.2.1 -> 23.3.2
[notice] To update, run: python.exe -m pip install --upgrade pip

In [24]:
# Especifique o caminho do arquivo CSV disponível no computador
arquivoCustoManutencaoEquipamento = 'C:\\Users\\NAY_A\\OneDrive\\Documentos\\Cursos\\Aula Python\\Python\\aula1\\Projeto-ManutencaodeEstoque\\Base Banco - CSV\\baseCustoManutencaodeEquipamento.csv'

try:
    # lendo o arquivo CSV usando o pandas
    df = pd.read_csv(arquivoCustoManutencaoEquipamento)

    print("Primeiras linhas da base de custo de manutenção de equipamento: ")
    print(df.head())
except FileNotFoundError:
    print(f"Arquivo CSV não encontrado no caminho especificado.")
except pd.errors.EmptyDataError:
    print("O arquivo CSV está vazio.")
except pd.errors.ParserError as error:
    print(f"Erro ao analisar o arquivo CSV: {error}")

Primeiras linhas da base de custo de manutenção de equipamento:
   Id  Codigo Equipamento Localizacao TipoDeManutencao        Data   Valor  \
0   1     113   Paleteira   Armazém D       Preventiva  08/08/2023    1800
1   2     956  Plataforma   Armazém B       Preventiva  01/02/2023   12000
2   3     792        AGVs   Armazém A       Preventiva  02/06/2023  275000
3   4     348      Macaco   Armazém C        Preditiva  16/07/2023     150
4   5     113   Paleteira   Armazém A       Preventiva  02/02/2022    2500

            Fornecedor      LocalFornecedor
0           EquipaMais             Campinas
1            EmbySeven  São José dos Campos
2  Doutor Equipamentos              Taubate
3         EquipaCenter            São Paulo
4         EquipaCenter        Florianopolis

In [25]:
# estatistica e big numbers

df.describe() #estatistica pronta sobre o arquivo

               Id      Codigo          Valor
count  200.000000  200.000000     200.000000
mean   100.500000  640.425000   71829.825000
std     57.879185  297.228292   98149.295322
min      1.000000  113.000000     110.000000
25%     50.750000  348.000000     470.000000
50%    100.500000  792.000000   12000.000000
75%    150.250000  901.250000  135000.000000
max    200.000000  972.000000  350000.000000

In [26]:
df.shape #imprime a quantidade de linhas e colunas

(200, 9)

In [27]:
df.dtypes #imprime os nomes de colunas e tipo de dados

Id                   int64
Codigo               int64
Equipamento         object
Localizacao         object
TipoDeManutencao    object
Data                object
Valor                int64
Fornecedor          object
LocalFornecedor     object
dtype: object

In [28]:
df.Equipamento.unique() #filtrar por equipamentos unicos

array(['Paleteira', 'Plataforma', 'AGVs', 'Macaco', 'Esteira', 'Leitores',
       'Ponte rolante', 'Escada', 'Empilhadeira'], dtype=object)

In [29]:
df.TipoDeManutencao.unique() #filtrar por tipos de manutenção unicos

array(['Preventiva', 'Preditiva', 'Corretiva'], dtype=object)

In [30]:
df.Valor.min() #menor valor da coluna

110

In [31]:
df.Valor.max() # pega o maior valor da coluna

350000

In [32]:
df.Valor.mean() # pega a media valor da coluna

71829.825

In [33]:
df.Valor.mode() # pega o valor mais comum da coluna

0    125000
1    140000
Name: Valor, dtype: int64

In [34]:
df.sort_values('Valor', ascending=False) #exibe os valores de maneira decrescente

,Id,Codigo,Equipamento,Localizacao,TipoDeManutencao,Data,Valor,Fornecedor,LocalFornecedor
31,32,792,AGVs,Armazém C,Preventiva,16/08/2022,350000,EquipaMais,São Paulo
116,117,792,AGVs,Armazém D,Preditiva,29/03/2022,350000,EquipaMais,São Paulo
131,132,792,AGVs,Armazém B,Preventiva,14/04/2022,350000,EquipaMais,São Paulo
56,57,792,AGVs,Armazém C,Preventiva,03/01/2022,320000,Tools SA,Campinas
93,94,792,AGVs,Armazém B,Preditiva,02/05/2023,320000,Tools SA,Campinas
...,...,...,...,...,...,...,...,...,...
169,170,248,Leitores,Armazém D,Corretiva,20/04/2023,120,EmbySeven,Salvador
57,58,248,Leitores,Armazém D,Preditiva,06/11/2023,120,Tech Center,Salvador
115,116,348,Macaco,Armazém C,Preditiva,29/07/2022,110,EquipaMais,Belo Horizonte
138,139,348,Macaco,Armazém A,Preventiva,02/07/2023,110,EquipaCenter,Belo Horizonte
5,6,348,Macaco,Armazém A,Preventiva,24/05/2022,110,EquipaMais,Belo Horizonte

In [35]:
df.sort_values(['Equipamento','Fornecedor'], ascending=[False,True]) #exibe os equipamentos e fornecedores de maneira decrescente

,Id,Codigo,Equipamento,Localizacao,TipoDeManutencao,Data,Valor,Fornecedor,LocalFornecedor
111,112,883,Ponte rolante,Armazém B,Preventiva,27/08/2023,135000,Conal,Salvador
129,130,883,Ponte rolante,Armazém B,Preditiva,05/03/2022,140000,Conal,Gavião Peixoto
175,176,883,Ponte rolante,Armazém C,Preventiva,09/07/2022,140000,Conal,Florianopolis
19,20,883,Ponte rolante,Armazém D,Preditiva,21/03/2022,140000,Doutor Equipamentos,Campinas
33,34,883,Ponte rolante,Armazém C,Preditiva,06/04/2023,170000,Doutor Equipamentos,Belo Horizonte
...,...,...,...,...,...,...,...,...,...
56,57,792,AGVs,Armazém C,Preventiva,03/01/2022,320000,Tools SA,Campinas
93,94,792,AGVs,Armazém B,Preditiva,02/05/2023,320000,Tools SA,Campinas
109,110,792,AGVs,Armazém D,Corretiva,04/03/2023,275000,Tools SA,Taubate
172,173,792,AGVs,Armazém D,Preventiva,28/10/2022,275000,Tools SA,Rio De Janeiro
197,198,792,AGVs,Armazém D,Preditiva,20/02/2023,275000,Tools SA,Taubate

In [36]:
filtroCusto = df[df.Equipamento == 'Escada'] #Filtro trazendo o resultado apenas com o equipamento igual a Escada
filtroLocalizacao = filtroCusto[filtroCusto.TipoDeManutencao == 'Preditiva'] #Dentro do equipamento igual a Escada, um novo filtro com o resultado do tipo de manutencao igual a Preditiva.
filtroLocalizacao #exibindo o resultado dos filtros combinados na tela

,Id,Codigo,Equipamento,Localizacao,TipoDeManutencao,Data,Valor,Fornecedor,LocalFornecedor
14,15,451,Escada,Armazém D,Preditiva,03/01/2022,450,Tech Center,São Paulo
15,16,451,Escada,Armazém A,Preditiva,25/01/2023,500,Tech Center,Botucatu
27,28,451,Escada,Armazém B,Preditiva,03/10/2022,470,EquipaCenter,São José dos Campos
106,107,451,Escada,Armazém A,Preditiva,29/06/2022,470,Conal,Salvador
191,192,451,Escada,Armazém D,Preditiva,31/01/2023,470,EquipaMais,Taubate

In [37]:
colunasFiltradas = ['Fornecedor','LocalFornecedor']
df[colunasFiltradas]

              Fornecedor      LocalFornecedor
0             EquipaMais             Campinas
1              EmbySeven  São José dos Campos
2    Doutor Equipamentos              Taubate
3           EquipaCenter            São Paulo
4           EquipaCenter        Florianopolis
..                   ...                  ...
195         EquipaCenter       Belo Horizonte
196            EmbySeven        Florianopolis
197             Tools SA              Taubate
198            EmbySeven            São Paulo
199        Manutenção SA              Taubate

[200 rows x 2 columns]